ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: padding 1s;
}
  
li a:hover {
    background-color: #111;
    padding: 16px 20px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 3;
}

.logo {
    margin: 4px;
}

.languages {
    float: right;
}

.active {
    background: darkgrey;
    /* Vaihda alaviivaan?*/ 
}

#positioned-img {
    position: absolute;
    display: block;
    top: 950px;
    right: 20px;
    z-index: 1;
}

/* Mobiilinäyttö (pituus suuntainen*/ 
@media screen and (min-width: 320px) and (max-width: 600px) {

    section > #positioned-img {
        display: none;
    }

    nav > ul > li.navlinks {
        display: block;
        width: 100%
           
    }

    .mobilevid {
        position: relative;
        top: 200px;
        z-index: 1;
    }

    .mediumvid {
        display: none;
    }

    .largevid {
        display: none;
    }

    .slogan {
        top: -100px;
        color: rgb(59, 59, 152);
    }
 
}

/* Normikokoien näytttö (1280 x 720) */ 
@media screen and (min-width: 601px) and (max-width: 1280px) {
    .mobilevid {
        display: none;
    }
    
    .largevid {
        display: none;
    }
}

/* Iiiiiso näyttö */
@media screen and (min-width: 1281px) and (max-width: 1920px) {
    .mobilevid {
        display: none;
    }

    .mediumvid {
        display: none;
    }

    #positioned-img {
        position: absolute;
        display: block;
        top: 1260px;
        right: 20px;
        z-index: 1;
    }
}   


video {
    position: relative;
    display: block;
    margin: auto;
}
 

span {
    color: darkblue;
}

.illustrative-img {
    float: left;
}

.background{
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    background-image: url(../img/background-img-highres.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed ;
    /*background-image: linear-gradient(to bottom right, rgb(187, 247, 227), rgb(20, 111, 136));*/
}

.slogan{
    position: relative;
    text-align: center;
    padding: 50px 50px;
    padding-top: 97px;
    z-index: 2;
}

.illustrative-img {
    display: borderbox;
    padding: 10px;
}

h3 {
    color: white;
}

p {
    display: block;
    padding: 6px;
    color: white;
}

body {
    overflow: hidden;
    margin: 0;
}

.copyright {
    display: block;
    text-align: center;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
}

.contacts {
    color: rgb(136, 136, 213);
}


.userDetails {
    display: block;
    background-color: rgb(136, 136, 213);
    width: 400px;
    height: auto;
    font-size: smaller;
    margin: auto;
}

section > h3 {
    text-align: center;
}

html,body{
    overflow-y: scroll; /* Allows for browsing on Chrome*/
    font-family: Verdana, Tahoma, sans-serif;
 }